body {
  background-color: black;
}
header, footer {
  background-color: inherit;
  border-style: solid;
  color: gold;
  text-align: center;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  width: 7rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  background-color: white;
 margin-left: 45%;
}

footer {
  margin-top: 80px;
}

.quiz-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 80%;
  font-size: 0.8rem;
  border: 0.1rem solid;
  background-color: white;
  margin: 20px 20px;
  
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

h2{
  color: gold;
}

.quiz-container:hover {
  cursor: pointer; 
}


.quiz-prefix {
  padding: 0.5rem 0.2rem;
  background-color: gold;
  color: black;
  
}

.quiz-text {
  padding-left: 40%;
  font-size: 1rem;
  font-weight: bolder;
  width: 100%;
  
}

.correct {
  background-color: green;
  color: white;
  
}

.incorrect {
  background-color: red;
  color: white; 
}

.inner-display {
  color: gold;
  display: flex;
  justify-content: space-between;
  margin-top: -10%;
  font-size: 1rem;
}
